.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 13px;
  padding: 400px;
}

.cell{
  display: flex;
  flex-direction: column;
}

.image-wrap{
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 1px dotted #000;

}

.image-wrap{
  aspect-ratio: 1 / 1;
  overflow: hidden;

  border: 1.1px solid #33ff33;

  box-shadow:
    0 0 3px #33ff33,
    0 0 3px #33ff33;

  background: white;
}

.image-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  opacity: 3.3;
  filter: brightness(13);
  transition: all 0.2s ease;
}

.image-wrap:hover img{
  opacity: 1;
  filter: none;
}


.caption{
  margin-top: 4px;
  font-size: 7pt;
  text-align: center;
  line-height: 1.2;
  font-family: monospace;
  /*color: lightgray;*/

}

.time{
  width: 100%;

  margin-top: 1000px;
  margin-bottom: 20px;

  text-align: center;

  font-size: 6.8pt;
  line-height: 1;
  font-family: monospace;
  /*color: lightgray;*/
}

/* mobile */
@media (max-width: 900px){

  .image-wrap{

    border: 1.5px solid #33ff33;

    box-shadow:
      0 0 4px #33ff33,
      0 0 10px #33ff33,
      0 0 18px #33ff33;

  }

}


@media (max-width: 900px){

  .grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 20px;
  }

}